/* 
    Document   : style
    Created on : 25-may-2013, 18:01:58
    Author     : juan2ramos
    Description:
        
*/


/* ---------->>> RESET <<<------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section ,label, h1,#userBox{
    display: block;
    box-sizing: border-box
}
body {
    line-height: 1;
}
strong, b {
    font-weight: bold;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ---------->>> FONTS <<<------------*/     
/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('../assets/leaguegothic-regular-webfont.eot');
    src: url('../assets/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/leaguegothic-regular-webfont.woff') format('woff'),
        url('../assets/leaguegothic-regular-webfont.ttf') format('truetype'),
        url('../assets/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('../assets/leaguegothic-italic-webfont.eot');
    src: url('../assets/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/leaguegothic-italic-webfont.woff') format('woff'),
        url('../assets/leaguegothic-italic-webfont.ttf') format('truetype'),
        url('../assets/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* Condensed */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('../assets/leaguegothic-condensed-regular-webfont.eot');
    src: url('../assets/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/leaguegothic-condensed-regular-webfont.woff') format('woff'),
        url('../assets/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
        url('../assets/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed Italic */
@font-face { 
    font-family: 'League Gothic Condensed';
    src: url('../assets/leaguegothic-condensed-italic-webfont.eot');
    src: url('../assets/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/leaguegothic-condensed-italic-webfont.woff') format('woff'),
        url('../assets/leaguegothic-condensed-italic-webfont.ttf') format('truetype'),
        url('../assets/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
    font-weight: normal;
    font-style: italic;
} 

/* ---------->>> contenido <<<------------*/
body{
    background: rgba(238,238,238,1);
    font-family: 'arial';
    font-size: 16px;

}

header{
    background-color: rgb(24,34,43) ;    
    margin: 0 auto;
    max-width: 192px;
    min-width: 100%;
    padding: 1em 0
}
header h1{  
    background-color: rgb(24,34,43) ;
    color: rgb(184,62,61); 
    display: inline-block;
    font-family:  'League Gothic' ;
    font-size: 10em;
    margin: 0;
    padding: 0 1em;
    text-shadow: -1px -4px 0px rgba(0, 0, 0,0.1),0px 2px 1px rgba(201, 92, 91, 0.2);
    width: 50%;
} 
header #userBox{
    display:inline-block;
    position: absolute;
    width:50%;
    padding: 0 1em;
    text-align: right
}

#inicio,#container{
    background-color: rgba(255,255,255,0.5);
    border: rgb(214,210,210) 1px solid;
    height: 300px;
    margin: 2em auto;
    max-width: 600px;
    width: 90%;
}
#inicio h1{
    color: rgb(100,100,100);
    font-family: 'League Gothic';
    font-size: 2.5em;
    margin: 0 auto;
    padding: 11px;    
    width: 150px;
}
input{
    background-color: rgba(241, 235, 235,0.3);
    border: rgb(201, 201, 201) 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(102, 101, 101);
    font-size: 1.2em;
    height: 43px;
    margin: 10px 7%;
    padding: 10px;
    width: 85%;
}
input:focus{
    outline:2px solid rgb(43, 58, 95);
}

::-webkit-input-placeholder { color:#AAA; }
::-moz-placeholder { color:#AAA; } /* firefox 19+ */
:-ms-input-placeholder { color:#AAA; } /* ie */
input:-moz-placeholder { color:#AAA; }
#button{
    background-color: rgb(221, 84, 84);
    border-radius: 0;
    border: none;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    width: 200px;

}

#inicio p{
    display: inline-block;
    color: rgb(173, 50, 50);
    margin-left: 5.7em;
    width: 171px;
}
span.errorForm{
    color: red;
    font-weight: bold;
    margin-left:7%;
    width: 85%;

}
.classError{
    animation: error .6s 1 ease-in-out
}

@keyframes error {
    /*50%{transform:rotateY(180deg);}*/
    50%{box-shadow: 0 0 0.8em rgb(160, 56, 56);}
}


@media (max-width: 768px)  {
    #inicio p{

        display: block;
        margin: 0;
        text-align: center;
        width: 100%;
    }
    #button{        
        display: block;       
        width: 85%;
    }
    #container{
        width: 95% !important;
    }


}
@media (max-width: 420px){
    header h1{
        margin: 0 auto;
        color: #FFC226
    }

}
#menuMovil{
    cursor: pointer;
    display: none;
    position:absolute;
    transition: all 5s ease;
}
.displayShow{
    display: block !important
}


.lines{
    background:rgb(87,87,87);
    border-radius:2px;
    height:5px;    
    margin:2px 0;
    width:30px;
}
/* Loader Principal*/
#notificaciones{
    background-attachment: scroll;
    background-color: rgb(255, 234, 168);
    background-position: 0% 0%;
    background-repeat: repeat no-repeat;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: rgb(255, 194, 55);
    border-left-width: 2px;
    border-left-style: solid;
    border-right-width: 2px;
    border-right-style: solid; 
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px;    

    color: rgb(130, 98, 0); 
    display: none;    
    height:auto;
    left: 10%;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    width:80%;     
    z-index:200;

}

#contenedorNoty{
    margin: 0 auto;
    width: 190px;
}
#cargado{
    display: inline-block;
    vertical-align: super;
}

#circularG{
    display: inline-block;
    height:30px;
    width:30px;
    position:relative;
}

.circularG{    
    animation-name:bounce_circularG;
    animation-duration:1.04s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    background-color:#FFC226;
    border-radius:5px;
    height:7px;    
    position:absolute;
    width:7px;
}

#circularG_1{

    animation-delay:0.39s;
    left:0;
    top:12px;
}

#circularG_2{    
    animation-delay:0.52s;
    left:3px;
    top:3px;
}

#circularG_3{
    animation-delay:0.65s;
    top:0;
    left:12px;    
}

#circularG_4{
    animation-delay:0.78s;
    right:3px;
    top:3px;    
}

#circularG_5{
    animation-delay:0.91s;
    right:0;
    top:12px;
}

#circularG_6{
    animation-delay:1.04s;
    right:3px;
    bottom:3px;
}

#circularG_7{
    animation-delay:1.17s;
    left:12px;
    bottom:0;
}

#circularG_8{
    animation-delay:1.3s;
    left:3px;
    bottom:3px;
}

#cerrarMenu{
    cursor: pointer;
    display: block;
    padding: 10px 0 10px 96%;

}
.arrowleft {

    background: rgb(226, 129, 129);
    display: block; 
    font-size: 12px;
    height: 1em;
    margin-right: -0.7em;
    position: relative;
    width: 1em;
}

.arrowleft::before {
    border-bottom: 1.2em solid rgba(44, 44, 44, 0);
    border-right: 1.2em solid rgb(226, 129, 129);
    border-top: 1.2em solid rgba(44, 44, 44, 0);
    bottom: -0.66666666em;
    content: "";
    position: absolute;
    right: 0.8em;
}
.nav{    
    background-color: rgba(247, 247, 247,1);
    box-shadow: 10px 0 40px rgba(22,22,22,.2);
    position: absolute;
    transition: all 1s ease;
    top: 192px;
    width: 280px;

} 
#container{
    width: 740px !important;
    max-width: 740px
}



@keyframes bounce_circularG{
    0%{
    transform:scale(1)}

100%{
    transform:scale(.3)}

}

